@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');
body{
    font-family: 'Charm', cursive;
}
.row{
    margin-bottom: 20px;
    margin-bottom: 30px;
    
}
img{
    margin-bottom: 20px;
}